*{
   margin: 0;
   padding: 0;

}

.cielo{
   
   background-size: cover;
   width: 100%;
   height: 100%;
}

.contenedor{
   width: 100%; 
   height: 100%;
   text-align: center;
}

#principal{
   width: 100%;
}

#turbina{
   
   height: 400px;
   width: 480px;
   position: absolute;
   top: 32%;
   left: 65%;
}

#casa{
   
   height: 300px;
   width: 600px;
   position: absolute;
   top: 92%;
   left: 15%;
}

#main{
   
   height: 250px;
   width: 250px;
   position: absolute;
   top: 122%;
   left: 0%;
}

#entrar{
   
   height: 700px;
   width: 360px;
   position: absolute;
   top: 17%;
   left: 73%;
}

#brazo{
   
   height: 500px;
   width: 445px;
   position: absolute;
   top: 70%;
   left: 68%;
}

#curzor{cursor: help;}
